input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.back-arrow {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  object-fit: contain;
  margin: 10px auto 0px 10px;
  /* background: #000; */
}

.form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 93%;
}

.label-grp {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 23px;
  width: 123px;
  height: fit-content;
}

span {
  height: fit-content;
  margin: 0px 0px 0px 10px;
}

.form-2-cointainer {
  width: 50%;
}

.form-label {
  color: #000;
  font-family: Outfit;
  font-size: 23px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-input {
  /* width: 431px; */
  height: 50px;

  border-radius: 5px;
  background: #f0f0f0;
  border: none;
  outline: none;
  padding: 0px 0px 0px 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #a9a9a9;
  display: inline-block;
}

#name-inputs {
  display: flex;
  /* flex-direction: row; */
  gap: 200px;
  width: 100%;
}

.input-cointainer {
  display: flex;
  flex-direction: row;
  flex-shrink: inherit;
  /* justify-content: space-between; */
  width: 60%;
  gap: 50px;
  /* text-align: center; */
  align-items: center;
  width: fit-content;
  /* display: inline; */
}

.form-input-dob {
  display: flex;
  flex-direction: row;
  flex-shrink: inherit;
  width: 40%;
  gap: 20px;
  /* text-align: center; */
  align-items: center;
  /* width: fit-content; */
  /* display: inline; */
}

/* .table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0px 0px 0px;
} */

td {
  border-bottom: 1px solid #a9a9a9;
  margin: 30px;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .form-label {
    font-size: 20px;
  }

  #name-inputs {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
  }

  .input-cointainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    /* text-align: center; */
    align-items: center;
  }
}
